header {
    height: 140px;
    background-image: linear-gradient(rgb(76, 204, 125), rgb(23, 88, 37)
    );
    text-align: center;
    color: aliceblue;
    font-style: normal, italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding-top: 35px;
    padding: 30px;
    text-shadow: 4px 4px 4px rgb(0, 14, 0);
}

nav {
    background-color: rgb(12, 54, 21);
    color: white;
    height: 27px;
    width: 100%;
    text-align: center;
}

nav > a {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.3s;
    font-size: 20px;  
}

nav > a:hover {
    background-color: rgb(79, 207, 117);
    border-radius: 6px;
    color: rgb(26, 88, 37);
}

h1.header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
font-size: 40px;     
font-weight: bold;
}

p.header {
font-weight: bold;
text-indent: 0em;
}

h1.main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-image: linear-gradient(rgb(137,228,136),white);
    color: rgb(26, 88, 37);
    box-shadow: 3px 3px 10px rgba(5, 87, 36, 0.226);  
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(26, 88, 37);
    background-image: linear-gradient(rgb(137, 228, 137), white);
}

main p {
    text-indent: 2em;
    line-height: 2em;
    font-weight: 600;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    text-indent: 2em;
    font-size: 18px;
    margin: 15px;
}

main{
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    margin: auto;
    max-width: 800px;
    min-width: 320px;
    padding: 1.1em;
    box-shadow: 5px 5px 15px rgba(131, 86, 19, 0.534);
}

body {
    background-color: rgb(236, 191, 153);
    margin: 0px;
}

img {
    margin: auto;
    display: block;
    width: 90%;
}
 
iframe {    /* video */
    margin: auto; 
    display: block;
    width: 80%;
}
div {
    background-color: rgb(26, 88, 37);
    border-radius: 15px;
    color: white;
    text-indent: 2em;
}

ul {
    columns: 2;
}

h3 {background-color: rgb(4, 34, 4);
    border-radius: 15px 15px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    background-color: rgb(2, 41, 15);
    color: white;
 text-align: center;
}